#transaction-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a2239;
    color: white;
}

#transaction-header > h1 {
    color: white;
    margin-left: 20px;
}

#transaction-header > button {
    color: white;
    border: 0;
    height: 50px;
    width: 80px;
    border-radius: 10%;
    background: #2ca0d6;
    margin-right: 20px;
    margin-left: auto;
}

#transaction-header > button:hover {
    cursor: pointer;
}
