#transaction-input {
    font-size: 3.5em;
    margin-top: 10px;
    width: 65vw;
    height: 12vh;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-transaction-form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr;
}
#transaction-type-selector {
    width: 100%;
}
