/* main card */
#transaction-card {
    font-size: 1.5em;
    width: 100%;
    grid-template-columns: 1fr 4fr 5fr 1fr;
    display: grid;
    padding: 5px 0;
}

/* gain / loss blocks */
#transaction-card > #gain {
    margin-left: auto;
    color: rgb(5, 231, 5);
}

#transaction-card > #loss {
    margin-left: auto;
    color: red;
}

/* expense amount and expense message */
#expensemessage {
    margin-left: 10px;
}

/* delete transaction button */
#deleteTransaction {
    width: 60px;
    margin-left: auto;
}
